{% extends "base.html.j2" %}

{% block title %}{{ title | default("Documentation") }} - {{ super() }}{% endblock %}
{% block title_header %}{{ title | default("Documentation") }}{% endblock %}

{% block header_content %}
    <span>Docs:</span>
    {% for doc_file in available_docs %}
    <a href="{{ request.app.url_path_for('ui_view_doc', filename=doc_file) }}">{{ doc_file.replace('.md', '').replace('_', ' ') | title }}</a>
    {% endfor %}
{% endblock %}

{% block main_content %}
    {{ content | safe }}
{% endblock %}
