{% extends "base.html" %}

{% block title_header %}{{ "Edit Note" if note else "Add New Note" }}{% endblock %}

{% block main_content %}
    <form action="{{ request.app.url_path_for('ui_save_note') }}" method="post" class="edit-form">
        {% if note %}
        <input type="hidden" name="original_title" value="{{ note.title }}">
        {% endif %}
        <div>
            <label for="title">Title:</label>
            <input type="text" id="title" name="title" value="{{ note.title if note else '' }}" required>
        </div>
        <div>
            <label for="content">Content:</label>
            <textarea id="content" name="content" required>{{ note.content if note else '' }}</textarea>
        </div>
        <div class="buttons">
            <button type="submit">Save Note</button>
            <a href="{{ request.app.url_path_for('ui_list_notes') }}" class="button-link">Cancel</a>
        </div>
    </form>
{% endblock %}
