repos:
- repo: local
  hooks:
    - id: ruff-check
      name: ruff-check
      entry: ruff check --fix --preview
      language: system
      types: [python]
    - id: ruff-format
      name: ruff-format
      entry: ruff format --preview
      language: system
      types: [python]

- repo: local
  hooks:
    - id: mdformat
      name: mdformat
      entry: mdformat --wrap 100
      language: system
      types: [markdown]
      exclude: |
        (?x)^( 
          docs/python-telegram-bot-abridged\.md|
          docs/python-telegram-bot-abridged-filtered\.md
        )$
