repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: v0.12.2
  hooks:
    - id: ruff-check
      args: ["--fix", "--preview"]
    - id: ruff-format
      args: ["--preview"]

- repo: https://github.com/executablebooks/mdformat
  rev: 0.7.22
  hooks:
    - id: mdformat
      additional_dependencies:
        - mdformat-gfm
        - mdformat-frontmatter
        - mdformat-tables
      exclude: |
        (?x)^(
          docs/python-telegram-bot-abridged\.md|
          docs/python-telegram-bot-abridged-filtered\.md
        )$

- repo: https://github.com/igorshubovych/markdownlint-cli
  rev: v0.45.0
  hooks:
    - id: markdownlint
      exclude: |
        (?x)^(
          docs/python-telegram-bot-abridged\.md|
          docs/python-telegram-bot-abridged-filtered\.md
        )$
